.wrapper {
    max-width: 1170px;
    margin: auto;
    background:grey;
    border-bottom: 5px solid violet;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    font-family: sans-serif;
    color: violet;
    display: inline-block;
    padding: 10px 20px;
}

.menu li {
    display: inline;
}

.main {
    padding: 20px;
}
